{% if content_for_header contains 'language-translate.js' %}
    
        <div
                class="uplinkly-language-translate-floating"
                
                    style="bottom: 20px;
                            right: 20px; "
                
        >
            <div class="uplinkly-language-translate-button"></div>
        </div>
    

    <link rel="stylesheet" href="https://cdn.uplinkly-static.com/apps/language-translate/master/language-translate.css?version=6">
    <div id="google_translate_element" class="gtranslate-inline gtranslate-vertical"></div>

{% endif %}
